@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
}

.aspect-ratio {
    width: 600px; /* Fixed width for the container */
    max-height: 400px; /* Maximum height for the container */
    overflow: hidden; /* Hides any overflow */
    border-radius: 0.375rem; /* To maintain the rounded corners */
    display: flex;
    align-items: center;
    justify-content: center;
}

.aspect-ratio img {
    max-width: 100%; /* Limits the width to the container's width */
    height: auto; /* Maintain the image aspect ratio */
    object-fit: cover; /* Maintains aspect ratio and covers the container */
    border-radius: 0.375rem;
}

@media (prefers-color-scheme: dark) {
    :root {
        --foreground-rgb: 255, 255, 255;
        --background-start-rgb: 0, 0, 0;
        --background-end-rgb: 0, 0, 0;
    }
}

body {
    color: rgb(var(--foreground-rgb));
    background: linear-gradient(
            to bottom,
            transparent,
            rgb(var(--background-end-rgb))
        )
        rgb(var(--background-start-rgb));
}
html {
    scroll-behavior: smooth;
}
